<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSV Report Generator</title>
  <link rel="stylesheet" href="./styles/stylesheet.css">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <form enctype="multipart/form-data">
    <input type="file" accept=".json" id="dataEntry" name="dataEntry"></input>
    <button type="submit" value="Submit" id="submitForm">Submit</button>
  </form>
  <h1>CSV Report</h1>
  <p id='csvReport'></p>
  <script src="handleSubmit.js"></script>
</body>

</html>